[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EbayesThresh"]
	path = EbayesThresh
	url = https://github.com/stephenslab/ebayesthresh
[submodule "ashr"]
	path = ashr
	url = https://github.com/stephens999/ashr
	registered = false
[submodule "ebnm"]
	path = ebnm
	url = https://github.com/stephenslab/ebnm
[submodule "fastTopics"]
	path = fastTopics
	url = https://github.com/stephenslab/fasttopics
[submodule "fastglmpca"]
	path = fastglmpca
	url = https://github.com/stephenslab/fastglmpca
[submodule "flashier"]
	path = flashier
	url = https://github.com/willwerscheid/flashier
	registered = false
[submodule "mashr"]
	path = mashr
	url = https://github.com/stephenslab/mashr
[submodule "mixsqp"]
	path = mixsqp
	url = https://github.com/stephenslab/mixsqp
[submodule "mr.ash.alpha"]
	path = mr.ash.alpha
	url = https://github.com/stephenslab/mr.ash.alpha
	registered = false
[submodule "mr.mashr"]
	path = mr.mashr
	url = https://github.com/stephenslab/mr.mashr
[submodule "smashr"]
	path = smashr
	url = https://github.com/stephenslab/smashr
[submodule "susieR"]
	path = susieR
	url = https://github.com/stephenslab/susier
